---
import "../styles/blog.css";
const { title, url, img } = Astro.props;
const style = `background-image: url(` + img + `);`;
---

<a href={url} >
    <li class="element textura2">
        <!-- <img src={img}> -->
        <div class="img" {style}></div>
        <h2>{title}</h2>
    </li>
</a>