---
import Social from "./Social.astro";
---

<footer>
  <div class="cont">
    <div class="textura2 item1">
      <Social platform="Instagram" username="uxui.fans" />
      <!-- <Social platform="Twitter" username="twitter" /> -->
      <a href="mailto:hi@uxui.fans">Correo</a>
      <!-- <Social platform="twitter" username="seracreativo" />
      <Social platform="youtube" username="@seracreativo" /> -->
    </div>

    <div class="textura2 lottie">
      <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_ko9ahj1s.json"  background="transparent"  speed="1"  style="width: 100%; height: 50px;"  loop  autoplay></lottie-player>
    </div>
  </div>
</footer>
