---
import Social from "./Social.astro";
---

<footer>
  <div>
    <Social platform="instagram" username="seracreativo" />
    <Social platform="github" username="seracreativo" />
    <Social platform="youtube" username="@seracreativo" />
  </div>

  <div>Hi!</div>
</footer>
