---
---

<div class="nav-cont">
  <a href="/"><img class="logo" src="/assets/Logo.svg" alt="" /></a>
  <div class="nav-links">
    <a href="/">Inicio</a>
    <a href="/">Wiki</a>
    <a href="/">Guías</a>
    <a href="/">Blog</a>
  </div>
</div>
